<div class="landing-wrapper">
  <video
    autoplay
    muted
    playsinline
    loop
    oncanplay="this.play()"
    onloadedmetadata="this.muted = true"
  >
    <source
      src="../../../assets/Videos/construction-image.mp4"
      type="video/mp4"
    />
  </video>
  <div class="video-content-wrapper">
    <div
      class="about-company"
      data-aos="fade-left"
      data-aos-anchor="#example-anchor"
      data-aos-offset="500"
      data-aos-duration="500"
    >
      <div class="detail-wrapper">
        <div class="company-log-name-wrapper">
          <img src="../../../assets/images/dote-image.png" alt="" />
          <span> Mirza Demolition </span>
        </div>

        <div class="short-title-wrapper">
          Our Service Is Best In <br />
          All Over India
        </div>
        <div class="short-sub-title-wrapper">
          We provide A valuable & affordable & reliable service from our India
          head since 30+ years
        </div>
        <div class="button-wrapper">
          <app-md-button
            text="DISCOVER MORE"
            (buttonEmitter)="handleClickedEvent()"
          ></app-md-button>
        </div>
      </div>
    </div>
  </div>
</div>
