<div
  class="about-wrapper"
  [@bounce]="true"
  data-aos-duration="5000"
  data-aos-easing="linear"
  data-aos-delay="1000"
>
  <div class="content-wrapper" data-aos="zoom-in-right">
    <div class="image-wraper" *ngFor="let img of about" data-aos-delay="500">
      <img [src]="img.Img" alt="construction" />
    </div>
    <div class="paragraph-wrapper">
      <div class="title-wrapper">
        <h1>About-Us</h1>
      </div>
      <div class="construction-information" data-aos="zoom-in-left">
        <p data-aos-anchor-placement="bottom-center" class="first-paragraph" data-aos-duration="3000">
          Your landing page starts with the right domain. Claim yours today
        </p>
        <p data-aos-anchor-placement="bottom-center" class="second-paragraph" data-aos-duration="3000">
          Start with a custom domain and get your business online now. Bring
          your free website and landing pages under one domain to keep your
          brand in harmony.
        </p>
        <div class="button-wrapper">
           <button mat-raised-button>Learn More</button>
        </div>
      </div>
    </div>
  </div>
</div>
