<div class="services-wrapper">
  <div class="container">
    <div
      class="header-wrapper"
      data-aos="fade-left"
      data-aos-anchor="#example-anchor"
      data-aos-offset="500"
      data-aos-duration="500"
    >
      <div class="sub-text">
        <span>
          <img src="../../../assets//images/dote-image.png" alt="Images" />
          What We Do
        </span>
      </div>
      <h2 class="title">
        Here Is Some Of Our
        <p>Demolition Work And Projects</p>
      </h2>
    </div>
    <div
      class="card-wrapper"
      data-aos="fade-right"
      data-aos-anchor="#example-anchor"
      data-aos-offset="500"
      data-aos-duration="500"
    >
      <div class="category-wrapper" *ngFor="let category of demolitionCategories">
        <div class="item-wrapper">
          <div class="img-wrapper">
            <img [src]="category.cardImage" alt="" />
          </div>
          <div class="content-wrap">
            <div class="inner-services">
              <div class="icon-top">
                <img [src]="category.logoImage" alt="" />
              </div>
              <div class="title-icon">
                <h3 class="title">
                  <a>{{ category.demolitionOption }}</a>
                </h3>
              </div>
              <p>
                {{ category.para }}
              </p>
              <div class="btn">
                <a>{{ category.btn }}</a>
              </div>
            </div>
          </div>
          <div class="normal-text-area">
            <div class="title-icon">
              <h3 class="title">
                <a>{{ category.demolitionOption }}</a>
              </h3>
              <div class="icon-image">
                <img [src]="category.logoImage" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
