<section>
  <div class="rs-blog">
    <div class="container">
      <div
        class="sec-title"
        data-aos="fade-left"
        data-aos-anchor="#example-anchor"
        data-aos-offset="500"
        data-aos-duration="500"
        *ngFor="let item of blogs"
      >
        <span class="sub-text">
          <img [src]="item.logoimg" alt="" /> {{ item.logoname }}
        </span>
        <h2 class="title">
          {{ item.paragraph }}
        </h2>
      </div>
      <div class="carousel-wrapper">
        <owl-carousel-o [options]="customOptionse">
          <ng-container>
            <ng-template class="slide" carouselSlide>
              <div class="card-outler">
                <div class="card" *ngFor="let card of cards">
                  <div class="blog-item">
                    <div class="image-wrap">
                      <a href="#">
                        <img [src]="card.cardimg" alt="" />
                      </a>
                    </div>
                    <div class="blog-content">
                      <ul class="blog-meta">
                        <li class="date">
                          <mat-icon>today</mat-icon>
                          {{ card.date }}
                        </li>
                        <li class="admin">
                          <mat-icon>person_outline</mat-icon>
                          {{ card.tagname }}
                        </li>
                      </ul>
                      <h3 class="blog-title">
                        <a href="#">
                          {{ card.cardparagraph }}
                        </a>
                      </h3>
                      <div class="blog-button">
                        <a href="#"> {{ card.cardbutton }}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
