.counter-wrapper {
  background: url("https://devsdesign.net/products/html/konstruk/assets/images/bg/counter-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 30px;
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    .info {
      width: 500px;
      .sec-title {
        width: 100%;
        flex: 0 0 auto;
        color: black;
        list-style: none;
        margin-top: 1.5rem;
        .title {
          font-size: 42px;
          font-weight: 700;
          line-height: 53px;
          color: #010d14;
          margin: 0;
          padding-bottom: 20px;
          font-family: Playfair Display;
          opacity: 0.8;
          transition: 0.7s;
          &:hover {
            opacity: 1;
            color: #ffb703f0;
          }
        }
        .sub-text {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.3;
          color: #fff;
          text-transform: uppercase;
          font-family: Roboto;
          margin: 0 0 10px;
          display: block;
          span {
            img {
              top: 1px !important;
              margin-right: 7px;
              position: relative;
            }
          }
        }
        .title {
          color: white;
        }
        p {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          margin: 0;
          color: white;
          padding-bottom: 45px;
        }
        .btn {
          a {
            padding: 16px 35px 16px 35px;
            &:hover {
              background-color: white !important;
              color: #010d14;
            }
          }
        }
      }
    }
    .data-count {
      .rows {
        margin: 0 1.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 15px;
        .wrapper-countdown {
          margin-bottom: 30px;
          .counter-list {
            padding: 29px 32px 41px 32px;
            background: #ffb7031f;
            clip-path: polygon(
              15% 0%,
              100% 0,
              100% 20%,
              100% 74%,
              85% 100%,
              0 100%,
              0% 80%,
              0% 25%
            );
            .counter-text {
              color: white;
              .count-number {
                .rs-count {
                  font-size: 42px;
                  line-height: 60px;
                  font-weight: 700;
                  color: #ffb703;
                  font-family: "Roboto", Sans-serif;
                }
              }
              span {
                font-size: 18px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }
}
