<div
  class="counter-wrapper"
  data-aos-anchor="#experience-anchor"
  data-aos="fade-left"
  data-aos-offset="500"
  data-aos-duration="500"
>
  <div class="row y-middle" data-aos="zoom-out-left">
    <div class="info" data-aos="zoom-out-left">
      <div class="sec-title">
        <div class="sub-text">
          <span>
            <img src="../../../assets/images/dote-image.png" alt="" />
          </span>
          NUMBER TALKS
        </div>
        <div class="title">
          Our team of experts will help you get things complete.
        </div>
        <p>Mirza demolitions will help you get things complete.</p>
        <div class="btn">
          <app-md-button text="CONTACT NOW" (buttonEmitter)="reloadPage()"></app-md-button>
        </div>
      </div>
    </div>
    <div class="data-count" data-aos="zoom-out-right">
      <div class="rows">
        <div class="wrapper-countdown">
          <div class="counter-list">
            <div class="counter-text">
              <div class="count-number">
                <span class="rs-count">{{ completedProjects + "+" }}</span>
              </div>
              <span class="title">Trusted Reviews</span>
            </div>
          </div>
        </div>
        <div class="wrapper-countdown">
          <div class="counter-list">
            <div class="counter-text">
              <div class="count-number">
                <span class="rs-count">{{ yearsOfExperience + "+" }}</span>
              </div>
              <span class="title">Year's of Experience</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

