  <div class="footer-wrapper">
      <div class="content">
           <div class="first-raw">
                 <div class="comapny-logo-wrapper">
                       <h1>mirza <span>construction </span></h1>
                 </div>
                 <div class="startup-line">
                     <h2>Realstat and construction company </h2>
                 </div>
           </div>
           <div class="middle-raw">
                <div class="box-wrapper">
                      <div class="button-wrapper">
                         <a href="#">lets's connect</a>
                      </div>
                      <div class="social-link-wrapper">
                           <div class="link-wrapper">
                               <div class="icons-wrapper">
                                <mat-icon>facebook</mat-icon>
                                <mat-icon>facebook</mat-icon>
                                <mat-icon>facebook</mat-icon>
                               </div>
                           </div>
                      </div>
                </div>
                 <div class="links-wrapper">
                      <div class="section1">
                          <div class="service-name">
                                <div class="item-wrapper">
                                     <a href="#">Product devlopment<span>service</span></a>
                                     <a href="#">construction staff augmantation</a>
                                     <a href="#">Abouts company</a>
                                </div>
                         </div>

                      </div>
                      <div class="section1">
                            <div class="industry-wrapper">
                                <a href="#">realstate </a>
                                <a href="#">construction </a>
                            </div>
                      </div>
                      <div class="section1">
                            <h2>case study</h2>
                            <h2>Blog</h2>
                            <h2>About Us</h2>
                            <h2>how we Works</h2>
                      </div>
                      <div class="section1">
                         <a href="#">Contact</a>
                         <a href="#">Email</a>
                         <a href="#">Phone No</a>
                  </div>
                 </div>
           </div>
           <div class="footer-raw"></div>
      </div>
  </div>
