<div class="component-wrapper">
  <app-landing-page></app-landing-page>
  <app-about-us></app-about-us>
  <app-work-categories></app-work-categories>
  <app-experiences></app-experiences>
  <app-qualities></app-qualities>
  <!-- <app-our-projects></app-our-projects> -->
  <app-benifits></app-benifits>
  <!-- <app-reviews></app-reviews> -->
  <app-contact-us></app-contact-us>
  <!-- <app-our-articals></app-our-articals> -->
  <!-- <app-up-coming-projects></app-up-coming-projects> -->
  <app-footerx></app-footerx>
</div>
<div class="scrollUp" (click)="scrolltop()">
  <mat-icon>keyboard_arrow_up</mat-icon>
</div>
