.work-wrapper {
  .card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    mat-card {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 20px;
      background-color: whitesmoke;
      width: 520px;
      .container {
        display: flex;
        gap: 10px;
        .image-wrapper {
          img {
            width: 200px;
            height: 200px;
            border: 1px solid;
            margin: 10px;
            margin-bottom: 3px;
            border-radius: 20px;
          }
        }
        .content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-evenly;
          span {
            margin: 5px 0px;
          }
          .about {
            font-size: 17px;
          }
          .card-profile-wrapper {
            .wrapperimg {
              display: grid;
              align-items: center;
              justify-content: center;
              grid-template-columns: 72px 84px 85px;
              gap: 6px;
              h4 {
                margin: 0;
              }
              .bio-wrapper {
                width: 100%;
                display: flex;
                img {
                  width: 100%;
                  border-radius: 51%;
                  border-radius: 14px;
                }
              }
              .icon-wrapper {
                display: flex;
                transform: scaleX(-1);
              }
            }
          }
        }
      }
    }
    .visit-card {
      width: 20%;
      z-index: 20;
      mat-card-content {
        display: flex;
        align-items: center;
        .least-wrapper {
          width: 60%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: baseline;
          li {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 19px;
            mat-icon {
              padding: 10px;
              background: rgba(0, 0, 0, 0.12);
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 10px;

              &:hover {
                background: #0000ffa3 !important;
                color: whitesmoke !important;
              }
            }
          }
        }
      }
    }
  }
  .second-raw {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px 0px;
    .introduction {
      display: flex;
      width: 22%;
      .item1 {
        width: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 14px;
        background-color: whitesmoke;
        justify-content: space-around;
        color: black;
        img {
          width: 100%;
          border-radius: 14px;
        }
        mat-card-content {
          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
          }
        }
      }
    }
    .calculation {
      width: 60%;
      .dates {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        .item2 {
          width: 51%;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          border-radius: 14px;
          background-color: whitesmoke;
          justify-content: space-evenly;
          .input-wrapper {
            display: flex;
            position: relative;

            width: 90%;
            input {
              width: 100%;
              height: 44px;
              outline: none;
              border-radius: 7px;
              border: none;
            }
            mat-icon {
              position: absolute;
              right: 0;
              width: 14%;
              align-items: center;
              height: 100%;
              background: blue;
              border-radius: 7px;
              justify-content: center;
              display: flex;
            }
          }
          mat-card-actions {
            width: 100%;
            color: gray;
            font-size: 17px;
            text-align: justify;
            gap: 30px;
            padding: 0px 16px;
          }
        }
        .item3 {
          width: 41%;
          display: flex;
          flex-direction: row;
          border-radius: 14px;
          background-color: whitesmoke;
          justify-content: space-around;
          color: black;
          mat-card-header {
            width: 60%;
            align-items: center;
            padding: 16px 16px 16px;
          }
          .background-wrapper {
            width: 100%;
            img {
              width: 100%;
              border-radius: 14px;
            }
          }
          mat-card-actions {
            width: 40%;
            .video-content {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              height: 100%;
              .circle {
                mat-icon {
                  color: blue;
                  font-size: 30px;
                  height: auto;
                  width: auto;
                }
              }
              h4 {
                font-size: 20px;
              }
              span {
                display: flex;
                align-items: center;
                mat-icon {
                  margin-right: 8px;
                  width: auto;
                }
              }
            }
          }
        }
      }
      .last-raw {
        display: flex;
        justify-content: space-between;
        .item4 {
          width: 62%;
          display: flex;
          flex-direction: row;
          align-items: center;
          border-radius: 14px;
          background-color: whitesmoke;
          justify-content: space-around;
          color: black;
          mat-card-header {
            width: 50%;
            height: 80%;
            .man-img-wrapper {
              width: 100%;
              img {
                width: 100%;
                height: 100%;
                border-radius: 14px;
              }
            }
          }
          mat-card-actions {
            flex-direction: column;
            width: 50%;
            .first-raw {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              width: 100%;
              gap: 7px;
              .personal-info {
                display: block;
                font-size: 20px;
              }
              .ejucation {
                display: block;
                font-size: 17px;
                margin-bottom: 10px;
              }
            }
            .second-raw {
              width: 100%;
              margin: 9px 0px;
              section {
                display: flex;
                width: 100%;
                gap: 30px;
                span {
                  display: block;
                }
              }
            }
            .third-raw {
              width: 100%;
              section {
                display: flex;
                gap: 10px;
                .white {
                  width: 120px;
                  background: white;
                  color: black;
                }
                .blue {
                  width: 120px;
                  background: #4a58fde8;
                  color: white;
                }
              }
            }
          }
        }
        .item5 {
          width: 31%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          background-color: transparent;
          box-shadow: none;
          mat-card-header {
            width: 100%;
            justify-content: center;
            margin: 10px 0px;
            .arror-wrapper {
              display: flex;
              justify-content: space-between;
              width: 56%;

              .left-arrow,
              .right-arrow {
                width: 75px;
                height: 75px;
                border-radius: 50%;
                background: white;
                color: black;
                align-items: center;
                display: flex;
                justify-content: center;
              }
              mat-icon {
                font-size: 39px;
                height: auto;
                color: gray;
                width: auto;
              }
            }
          }
          mat-card-actions {
            width: 100%;
            justify-content: center;
            .option-wrapper {
              background: whitesmoke;
              color: black;
              padding: 17px;
              border-radius: 12px;
              width: 72%;
              .upper-raw {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                gap: 6px;
                .devloper {
                  padding: 9px 17px;
                  background: rgb(255 229 229 / 69%);
                  border-radius: 10px;
                }
                .country {
                  padding: 9px 19px;
                  background: rgb(255 229 229 / 69%);
                  border-radius: 10px;
                }
              }
              .bottom-raw {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                margin: 10px 0px;
                gap: 6px;
                span {
                  padding: 9px 17px;
                  background: rgba(255, 229, 229, 0.69);
                  border-radius: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  .vert-move {
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate;
  }
  .vert-move {
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate;
  }
  @-webkit-keyframes mover {
    0% {
      transform: translatex(0);
    }
    100% {
      transform: translatex(20px);
    }
  }
  @keyframes mover {
    0% {
      transform: translatex(0);
    }
    100% {
      transform: translatex(20px);
    }
  }
}
