<div class="information-wrapper">
  <div class="raw">
    <div class="benefits-wrapper">
      <div class="faq-content">
        <div
          class="sec-title"
          data-aos="fade-left"
          data-aos-anchor="#example-anchor"
          data-aos-offset="500"
          data-aos-duration="500"
        >
          <div class="sub-text">
            <span>
              <img
                src="https://devsdesign.net/products/html/konstruk/assets/images/shape-1.png"
                alt=""
              />
            </span>
            YOUR BENEFIT
          </div>
          <div class="title">
            Build better futures with steady focus on quality
          </div>
        </div>
        <div #accordion class="accordion">
          <div
            class="card"
            data-aos="fade-left"
            data-aos-anchor="#example-anchor"
            data-aos-offset="500"
            data-aos-duration="500"
          >
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>+</span> We Provide Better Safety Standards
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                  Demolition has several safety risks. But injury risk is a lot
                  greater for inexperienced people than for experienced
                  demolition crews. Once you hand your demolition over us to a
                  skilled team, you safeguard yourself from being injured and
                  guarantee that your job is safer in general. Those safety
                  standards may give you peace of mind and make sure that your
                  job isn’t delayed or complicated by dangerous conditions.
                </p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div
            class="card"
            data-aos="fade-left"
            data-aos-anchor="#example-anchor"
            data-aos-offset="500"
            data-aos-duration="500"
          >
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>+</span> We Are Providing Modern Construction Methods
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                  At our construction company, we pride ourselves on offering
                  modern construction methods that revolutionize the industry.
                  With a forward-thinking approach, we bring cutting-edge
                  techniques and technologies to every project we undertake.
                  <br />
                  <br />
                  Our team is well-versed in the latest construction
                  methodologies, ensuring efficiency, speed, and quality
                  throughout the process. From advanced prefabrication and
                  modular construction to 3D printing and robotic automation, we
                  leverage the power of innovation to streamline projects and
                  exceed client expectations.
                </p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="card">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>+</span> We Are Providing Best Demolition Service
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                  At our Mirza demolition company, we are dedicated to
                  delivering top-notch demolition services that exceed
                  expectations. We specialize in providing the best demolition
                  methods in the industry, ensuring safe and efficient removal
                  of structures.
                  <br />
                  <br />
                  Our experienced team is trained in the latest demolition
                  techniques, utilizing advanced equipment and machinery to
                  handle projects of all sizes. Whether it's a small residential
                  demolition or a large-scale commercial project, we have the
                  expertise to get the job done right.
                </p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
    <div
      class="image-wrapper"
      data-aos="fade-right"
      data-aos-anchor="#example-anchor"
      data-aos-offset="500"
      data-aos-duration="500"
    ></div>
  </div>
</div>
