<div class="reviews-wrapper">
  <div class="container">
    <div class="row">
      <h1>what people think <span>About Us</span></h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, iste
        atque dicta distinctio vel consequuntur nesciunt unde quidem in quis.
      </p>
    </div>

    <owl-carousel-o [options]="customOptions">
      
      <ng-template carouselSlide>
        <mat-card class="example-card">
          <img
            mat-card-image
            src="https://media.istockphoto.com/id/1059661424/photo/mature-mixed-race-business-man.jpg?s=612x612&w=0&k=20&c=UAVBeyoD_LkCh1MzVaWW1SR1iwK-VkPDXWMH2o2wL8M="
            alt="Photo of a Shiba Inu"
          />
          <div class="contents-wrapper">
            <mat-card-content>
                <span class="name">yusuf mirza</span>
                <span class="introduction">A senior web devloper for angular and nodejs</span>
              </mat-card-content>
              <mat-card-content>
                <span>our work for every state and every Nation in country</span>
                <span>Rating our works</span>
                <span class="ratting-wrapper">
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                </span>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <div class="icon-wrapper">
                    <mat-icon>favorite</mat-icon>
                </div>
              </mat-card-actions>
          </div>       
        </mat-card>
      </ng-template>

      <ng-template carouselSlide>
        <mat-card class="example-card">
          <img
            mat-card-image
            src="https://media.istockphoto.com/id/1059661424/photo/mature-mixed-race-business-man.jpg?s=612x612&w=0&k=20&c=UAVBeyoD_LkCh1MzVaWW1SR1iwK-VkPDXWMH2o2wL8M="
            alt="Photo of a Shiba Inu"
          />
          <div class="contents-wrapper">
            <mat-card-content>
                <span class="name">yusuf mirza</span>
                <span class="introduction">A senior web devloper for angular and nodejs</span>
              </mat-card-content>
              <mat-card-content>
                <span>our work for every state and every Nation in country</span>
                <span>Rating our works</span>
                <span class="ratting-wrapper">
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                </span>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <div class="icon-wrapper">
                    <mat-icon>favorite</mat-icon>
                </div>
              </mat-card-actions>
          </div>       
        </mat-card>
      </ng-template>
      <ng-template carouselSlide>
        <mat-card class="example-card">
          <img
            mat-card-image
            src="https://media.istockphoto.com/id/1059661424/photo/mature-mixed-race-business-man.jpg?s=612x612&w=0&k=20&c=UAVBeyoD_LkCh1MzVaWW1SR1iwK-VkPDXWMH2o2wL8M="
            alt="Photo of a Shiba Inu"
          />
          <div class="contents-wrapper">
            <mat-card-content>
                <span class="name">yusuf mirza</span>
                <span class="introduction">A senior web devloper for angular and nodejs</span>
              </mat-card-content>
              <mat-card-content>
                <span>our work for every state and every Nation in country</span>
                <span>Rating our works</span>
                <span class="ratting-wrapper">
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                </span>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <div class="icon-wrapper">
                    <mat-icon>favorite</mat-icon>
                </div>
              </mat-card-actions>
          </div>       
        </mat-card>
      </ng-template>
      <ng-template carouselSlide>
        <mat-card class="example-card">
          <img
            mat-card-image
            src="https://media.istockphoto.com/id/1059661424/photo/mature-mixed-race-business-man.jpg?s=612x612&w=0&k=20&c=UAVBeyoD_LkCh1MzVaWW1SR1iwK-VkPDXWMH2o2wL8M="
            alt="Photo of a Shiba Inu"
          />
          <div class="contents-wrapper">
            <mat-card-content>
                <span class="name">yusuf mirza</span>
                <span class="introduction">A senior web devloper for angular and nodejs</span>
              </mat-card-content>
              <mat-card-content>
                <span>our work for every state and every Nation in country</span>
                <span>Rating our works</span>
                <span class="ratting-wrapper">
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                </span>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <div class="icon-wrapper">
                    <mat-icon>favorite</mat-icon>
                </div>
              </mat-card-actions>
          </div>       
        </mat-card>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>

<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    
     <div class="slide">
         <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
     </div>
    
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</ng-template>
<ng-template carouselSlide>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        
         <div class="slide">
             <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
         </div>
        
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </ng-template>
</owl-carousel-o> -->
