<div class="landing-wrapper">
  <div class="video-background-wrapper">
    <video
      src="https://css-tricks-post-videos.s3.us-east-1.amazonaws.com/blurry-trees.mov"
      autoplay
      loop
      playsinline
      muted
      class="background-video"
    ></video>
      <P>
        Lorem ipsum dolor sit amet conse
      </P>
  </div>

  <div>
     <app-sticky-header></app-sticky-header>
    <app-category></app-category>
    <app-about></app-about>
    <app-gallery></app-gallery>
    <app-video></app-video>
    <div class="review-wrapper">
       <app-review></app-review>
    </div>
    <div class="work-wrapper">
       <app-works></app-works>
    </div>
    <div class="contact-wrapper">
        <app-contact></app-contact>     
    </div>
    <div class="footer">
       <app-footer></app-footer>
    </div>
  </div>
</div>
