<!-- <div class="spinner" *ngIf="loader">
  <mat-spinner></mat-spinner>
</div> -->
<!--    -->
  <!-- <div class="temporery-wrapper" *ngIf="!loader">
     *ngIf="!loader" -->
    <!-- <div class="wrapper-all-component"   #scroll>
      <div class="home-wrapper">
        <div class="content-wrapper">
          <div class="style">
            <div class="image-wrapper" *ngFor="let items of categories">
              <carousel
                [images]="images"
                [cellsToShow]="1"
                [loop]="true"
                [autoplay]="false"
                [autoplayInterval]="3000"
              >
              </carousel>
              <div
                class="about-company"
                data-aos="fade-left"
                data-aos-anchor="#example-anchor"
                data-aos-offset="500"
                data-aos-duration="500"
              >
                <div class="paragraph">
                  <div class="subtitle1">
                    <div class="h4-wrapper">
                      <img [src]="items.paragraphdesign" alt="" /> {{ items.title }}
                    </div>
                  </div>
                  <div class="subtitle2">
                    {{ items.subTitle1 }}
                    {{ items.subTitle2 }}
                  </div>
                  <div class="subtitle3">
                    {{ items.paragraph }}
                  </div>
                  <div class="subtitle4">
                    <div class="button-wrapper">
                      <a href="#">DISCOVER MORE</a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="logo-wrapper"
                data-aos="fade-left"
                data-aos-anchor="#example-anchor"
                data-aos-offset="500"
                data-aos-duration="500"
              >
                <img [src]="items.logoimgyellow" alt="" />
                <img [src]="items.logoimgblack" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- second-componet -->
      <!-- <section>
        <div class="section-wrapper">
          <div class="second-componet">
            <div class="container">
              <div
                class="image"
                data-aos="fade-right"
                data-aos-anchor="#example-anchor"
                data-aos-offset="500"
                data-aos-duration="500"
                *ngFor="let image of pictures"
              >
                <img [src]="image.img" alt="" />
              </div>
              <div
                class="sec-title"
                data-aos="fade-left"
                data-aos-anchor="#example-anchor"
                data-aos-offset="500"
                data-aos-duration="500"
              >
                <div class="content" *ngFor="let matrial of categories">
                  <div class="sub-text">
                    <span>
                      <img [src]="matrial.paragraphdesign" alt="Images" />
                      Who We Are
                    </span>
                  </div>
                  <h2 class="title">Construction solutions focused future ready</h2>
                  <p>
                    Leverage agile frameworks to provide a robust synopsis for high
                    level overviews. Iterative approaches to corporate strategy data
                    foster to collaborative thinking to empowerment.
                  </p>
                  <div class="middle-raw">
                    <div class="mini-img">
                      <img
                        src="https://devsdesign.net/products/html/konstruk/assets/images/about/style1/abzt.jpg"
                        alt=""
                      />
                    </div>
                    <div class="ul-wrapper">
                      <div class="cheak-list">
                        <li class="list-item">
                          <span class="icon-list-icon">
                            <mat-icon>check_circle</mat-icon>
                          </span>
                          <span class="list-text">Pre-construction services</span>
                        </li>
                        <li class="list-item">
                          <span class="icon-list-icon">
                            <mat-icon>check_circle</mat-icon>
                          </span>
                          <span class="list-text">Industrial manufacturing</span>
                        </li>
                        <li class="list-item">
                          <span class="icon-list-icon">
                            <mat-icon>check_circle</mat-icon>
                          </span>
                          <span class="list-text">Building and construction</span>
                        </li>
                      </div>
                    </div>
                  </div>
                  <div class="footer-wrapper">
                    <div class="button-wrapper">
                      <a href="#">KNOW MORE</a>
                    </div>
                    <div class="sign-wrapper">
                      <img
                        src="https://devsdesign.net/products/html/konstruk/assets/images/about/style1/signeture1.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- second-componet-end //-->
      <!-- third-componet -->
      <!-- <section>
        <div class="services-wrapper">
          <div class="container" *ngFor="let matrial of categories">
            <div
              class="sec-title"
              data-aos="fade-left"
              data-aos-anchor="#example-anchor"
              data-aos-offset="500"
              data-aos-duration="500"
            >
              <div class="sub-text">
                <span>
                  <img [src]="matrial.paragraphdesign" alt="Images" />
                  What We Do
                </span>
              </div>
              <h2 class="title">
                Here Is Some Of Our
                <p>Demolition Work And Projects</p>
              </h2>
            </div>
            <div
              class="raw"
              data-aos="fade-right"
              data-aos-anchor="#example-anchor"
              data-aos-offset="500"
              data-aos-duration="500"
            >
              <div class="column" *ngFor="let item of demolitioncard">
                <div class="services-item">
                  <div class="item-wrapper">
                    <div class="img-wrapper">
                      <img [src]="item.back1" alt="" />
                    </div>
                    <div class="content-wrap">
                      <div class="inner-services">
                        <div class="icon-top">
                          <img [src]="item.img3" alt="" />
                        </div>
                        <div class="title-icon">
                          <h3 class="title">
                            <a href="#">{{ item.firstsent }}</a>
                          </h3>
                        </div>
                        <p>
                          {{ item.para }}
                        </p>
                        <div class="btn">
                          <a href="#">{{ item.btn }}</a>
                        </div>
                      </div>
                    </div>
                    <div class="normal-text-area">
                      <div class="title-icon">
                        <h3 class="title">
                          <a href="#">{{ item.firstsent }}</a>
                        </h3>
                        <div class="icon-image">
                          <img [src]="item.img3" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- third-componet-end //-->
      <!-- fourth-componet -->
      <!-- <section
        data-aos="fade-left"
        data-aos-anchor="#example-anchor"
        data-aos-offset="500"
        data-aos-duration="500"
      >
        <div class="counter-wrapper">
          <div class="container">
            <div
              class="row y-middle"
              *ngFor="let value of countdown"
              data-aos="zoom-out-left"
            >
              <div class="info" data-aos="zoom-out-left">
                <div class="sec-title">
                  <div class="sub-text">
                    <span><img [src]="value.subimg" alt="" /></span>
                    {{ value.subtext }}
                  </div>
                  <div class="title">
                    {{ value.title }}
                  </div>
                  <p>{{ value.paragraph }}</p>
                  <div class="btn">
                    <a href="#">{{ value.btn }}</a>
                  </div>
                </div>
              </div>
              <div class="data-count" data-aos="zoom-out-right">
                <div class="rows">
                  <div class="wrapper-countdown">
                    <div class="counter-list">
                      <div class="counter-text">
                        <div class="count-number">
                          <span class="rs-count">{{ ProjectCount1 + "+" }}</span>
                        </div>
                        <span class="title">Completed Projects</span>
                      </div>
                    </div>
                  </div>
                  <div class="wrapper-countdown">
                    <div class="counter-list">
                      <div class="counter-text">
                        <div class="count-number">
                          <span class="rs-count">{{ ProjectCount2 + "+" }}</span>
                        </div>
                        <span class="title">Completed Projects</span>
                      </div>
                    </div>
                  </div>
                  <div class="wrapper-countdown">
                    <div class="counter-list">
                      <div class="counter-text">
                        <div class="count-number">
                          <span class="rs-count">{{ ProjectCount3 + "+" }}</span>
                        </div>
                        <span class="title">Completed Projects</span>
                      </div>
                    </div>
                  </div>
                  <div class="wrapper-countdown">
                    <div class="counter-list">
                      <div class="counter-text">
                        <div class="count-number">
                          <span class="rs-count">{{ ProjectCount4 + "+" }}</span>
                        </div>
                        <span class="title">Completed Projects</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- fourth-componet-end //-->
      <!-- five-componet -->
      <!-- <section>
        <div class="information-wrapper">
          <div class="raw" *ngFor="let benefit of benefits">
            <div class="benefits-wrapper">
              <div class="faq-content">
                <div
                  class="sec-title"
                  data-aos="fade-left"
                  data-aos-anchor="#example-anchor"
                  data-aos-offset="500"
                  data-aos-duration="500"
                >
                  <div class="sub-text">
                    <span><img [src]="benefit.subimg" alt="" /></span>
                    {{ benefit.subtext }}
                  </div>
                  <div class="title">
                    {{ benefit.title }}
                  </div>
                </div>
                <div #accordion class="accordion">
                  <div
                    class="card"
                    data-aos="fade-left"
                    data-aos-anchor="#example-anchor"
                    data-aos-offset="500"
                    data-aos-duration="500"
                  >
                    <mat-accordion>
                      <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <span>+</span> {{ benefit.matpaneltitle1 }}
                          </mat-panel-title> -->
                          <!-- <mat-panel-description>
                              This is a summary of the content
                            </mat-panel-description> -->
                        <!-- </mat-expansion-panel-header>
                        <p>
                          {{ benefit.matparagraph }}
                        </p>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                  <div
                    class="card"
                    data-aos="fade-left"
                    data-aos-anchor="#example-anchor"
                    data-aos-offset="500"
                    data-aos-duration="500"
                  >
                    <mat-accordion>
                      <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <span>+</span> {{ benefit.matpaneltitle2 }}
                          </mat-panel-title>
                          <!-- <mat-panel-description>
                              This is a summary of the content
                            </mat-panel-description> -->
                        <!-- </mat-expansion-panel-header>
                        <p>
                          {{ benefit.matparagraph }}
                        </p>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                  <div class="card">
                    <mat-accordion>
                      <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <span>+</span> {{ benefit.matpaneltitle3 }}
                          </mat-panel-title> --> -->
                          <!-- <mat-panel-description>
                              This is a summary of the content
                            </mat-panel-description> -->
                        <!-- </mat-expansion-panel-header>
                        <p>
                          {{ benefit.matparagraph }}
                        </p>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="image-wrapper"
              data-aos="fade-right"
              data-aos-anchor="#example-anchor"
              data-aos-offset="500"
              data-aos-duration="500"
            ></div>
          </div>
        </div>
      </section> -->
      <!-- five-componet-end //-->
      <!-- sixth-components -->
      <!-- <section>
        <div class="cnc-project-wrapper">
          <div class="container" *ngFor="let project of projects">
            <div
              class="sec-title"
              data-aos="fade-left"
              data-aos-anchor="#example-anchor"
              data-aos-offset="500"
              data-aos-duration="500"
            >
              <span class="sub-text">
                <span>
                  <img [src]="project.subimg" alt="" />{{ project.subtext }}
                </span>
              </span>
              <h2 class="title">
                {{ project.title }}
              </h2>
            </div>
            <div class="gridfilter" data-aos="zoom-out-left">
              <button class="active">ALL</button>
              <button class="filter1">Architecture</button>
              <button class="filter2">House & Exterior</button>
              <button class="filter3">House Renovation</button>
              <button class="filter4">interiors</button>
            </div>
            <div class="row-grid" data-aos="zoom-out-right">
              <mat-card *ngFor="let project of mprojects">
                <div class="project-item">
                  <div class="project-img">
                    <a href="#"> <img [src]="project.img" alt="" /> </a>
                  </div>
                  <div class="project-content">
                    <div class="project-inner">
                      <h3 class="title">
                        {{ project.projectstitle }}
                      </h3>
                      <span class="categoy">
                        <a href="#">{{ project.projectstag }}</a>
                      </span>
                    </div>
                    <div class="p-icon">
                      <a href="#">
                        <mat-icon>arrow_forward</mat-icon>
                      </a>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </section> --> -->
      <!-- sexth component -end//// -->
      <!-- seventh-components -->
      <!-- <section>
        <div class="rs-choose">
          <div class="row" *ngFor="let skill of choose">
            <div class="video-wrapper" data-aos="zoom-out-right">
              <div class="rs-video">
                <div class="animate-border">
                  <a
                    href="https://www.youtube.com/watch?v=FMvA5fyZ338"
                    class="popup-border"
                  >
                    <mat-icon>play_arrow</mat-icon>
                  </a>
                </div>
              </div>
            </div>
            <div class="video-content-wrapper">
              <div class="widget-wrap-content">
                <div
                  class="sec-title"
                  data-aos="fade-left"
                  data-aos-anchor="#example-anchor"
                  data-aos-offset="500"
                  data-aos-duration="500"
                >
                  <span class="sub-text">
                    <span>
                      <img [src]="skill.subimg" alt="" /> {{ skill.subtext }}
                    </span>
                  </span>
                  <h2 class="title">
                    {{ skill.title }}
                  </h2>
                  <p class="desc">
                    {{ skill.paragraph }}
                  </p>
                  <div class="row-wrapper">
                    <div class="row" *ngFor="let item of service">
                      <div class="mini-card1">
                        <div class="service-item">
                          <div class="serial-number">
                            {{ item.serialnumber }}
                          </div>
                          <div class="services-textes">
                            <div class="services-title">
                              <h4 class="title">
                                {{ item.servicestext }}
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="working-skill-part">
                    <div class="rows">
                      <div class="title-wrapper">
                        <div class="title-inner">
                          <h4 class="title">
                            {{ skill.working }}
                          </h4>
                        </div>
                        <div class="title-inner">
                          <h4 class="title">
                            {{ skill.clintrating }}
                          </h4>
                        </div>
                      </div>
                      <div class="ratting-wrapper">
                        <div class="rs-skillbar">
                          <div class="skill">
                            <div class="skillbar">
                              <p class="skillbar-bar"></p>
                              <span class="skill-bar-percent">
                                {{ skill.workpercentage }}
                              </span>
                            </div>
                          </div>
                        </div>
                        <ul class="icon-list-item">
                          <li><mat-icon>star</mat-icon></li>
                          <li><mat-icon>star</mat-icon></li>
                          <li><mat-icon>star</mat-icon></li>
                          <li><mat-icon>star</mat-icon></li>
                          <li><mat-icon>star</mat-icon></li>
                        </ul>
                      </div>
                    </div>
                    <p class="view-result">
                      {{ skill.footstrap }}
                      -
                      <a class="viewlink" href="#"
                        ><span>{{ skill.span }}</span></a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- seventh-components -->
      <!-- seventh-components -->
      <!-- <section>
        <div class="rs-testimonal">
          <div class="container">
            <div class="row">
              <div class="carousel-wrapper">
                <div
                  class="sec-title"
                  data-aos="fade-left"
                  data-aos-anchor="#example-anchor"
                  data-aos-offset="500"
                  data-aos-duration="500"
                  *ngFor="let slide of slider"
                >
                  <span class="sub-text">
                    <img [src]="slide.logoimg1" alt="" /> {{ slide.logoname1 }}
                  </span>
                  <h2 class="title">{{ slide.review1 }}</h2>
                </div>
                <div class="testi-item-content">
                  <div class="crousel" data-aos="fade-up-left">
                    <owl-carousel-o
                      [options]="customOptions"
                      (change)="setData($event)"
                    >
                      <ng-template carouselSlide>
                        <mat-card *ngFor="let slide of slider" class="example-card">
                          <img
                            mat-card-image
                            [src]="slide.item"
                            alt="Photo of a Shiba Inu"
                          />
                          <div class="contents-wrapper">
                            <mat-card-content class="first-content">
                              <p>
                                {{ slide.paragraph }}
                              </p>
                            </mat-card-content>
                            <mat-card-content class="second-content">
                              <div class="testy-content">
                                <div class="img-wrapper">
                                  <img [src]="slide.paraimg" alt="" />
                                </div>
                              </div>
                              <div class="testi-information">
                                <div class="testi-name">
                                  {{ slide.imgname }}
                                </div>
                                <div class="testi-title">
                                  {{ slide.tagnmae }}
                                </div>
                              </div>
                            </mat-card-content>
                            <mat-card-actions>
                              <div class="icons-wrapper">
                                <div class="left-icon">
                                  <mat-icon>arrow_back</mat-icon>
                                </div>
                                <div class="right-icon">
                                  <mat-icon>arrow_forward</mat-icon>
                                </div>
                              </div>
                            </mat-card-actions>
                          </div>
                        </mat-card>
                      </ng-template>
                    </owl-carousel-o>
                  </div>
                </div>
              </div>
            </div>
            <div class="secondrow">
              <div
                class="sec-title"
                data-aos="fade-right"
                data-aos-anchor="#example-anchor"
                data-aos-offset="500"
                data-aos-duration="500"
                *ngFor="let slide of slider"
              >
                <span class="sub-text">
                  <img [src]="slide.logoimg1" alt="" /> {{ slide.logoname1 }}
                </span>
                <h2 class="title">{{ slide.review1 }}</h2>
              </div>
              <div
                class="vertical-widget-content"
                data-aos="zoom-out-right"
                *ngFor="let slide of slider2"
              >
                <div class="slick-part">
                  <div class="slider-for slick-initialized">
                    <div class="slick-list">
                      <div class="slick-track">
                        <div class="team-inner-wrap">
                          <div class="image-wrap">
                            <a href="#">
                              <img [src]="slide.secondcarousel1" alt="" />
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="slider-navs">
                        <div class="left-buttons">
                          <mat-icon
                            _ngcontent-wns-c63=""
                            role="img"
                            class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color"
                            aria-hidden="true"
                            data-mat-icon-type="font"
                            >arrow_back</mat-icon
                          >
                        </div>
                        <div class="draggable">
                          <div class="slick-track">
                            <div class="image-list">
                              <a href="#">
                                <img
                                  src="https://devsdesign.net/products/html/konstruk/assets/images/team/tm6.jpg"
                                  alt=""
                                />
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="button">
                          <mat-icon
                            _ngcontent-wns-c63=""
                            role="img"
                            class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color"
                            aria-hidden="true"
                            data-mat-icon-type="font"
                            >arrow_forward</mat-icon
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rs-partners">
            <div class="containers">
              <div class="partner-content-widgets">
                <owl-carousel-o [options]="customOptions">
                  <ng-container carouselSlide>
                    <ng-template
                      class="slide"
                      carouselSlide
                      *ngFor="let slides of slider3"
                    >
                      <div class="img-wrappers">
                        <div class="logo-img">
                          <a href="#">
                            <img
                              [src]="slides.secondcarousel1"
                              class="hover"
                              [alt]=""
                              [title]="" />
                            <img
                              [src]="slides.secondcarousel1"
                              [alt]=""
                              class="main"
                              [title]=""
                          /></a>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o> -->
                <!-- <div class="sliders">
                  <ng-container >
                    <div class="slider"  @fade>
                       <div class="img-wrapper-carousel" *ngFor="let img of img_list; let i = index">
                         <img class="img" *ngIf="current == i" [src]="img.path">
                       </div>
                    </div>
                  </ng-container>
                </div> -->
              <!-- </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- seventh-components-end -->
      <!-- eight-components -->
      <!-- <section>
        <div class="contact-wrapper" *ngFor="let item of conatct">
          <section>
            <div class="circle"></div>
            <div class="circle2"></div>
            <mat-card>
              <mat-card-header>
                <div class="first-raw">
                  <h2>
                    {{ item.describe }}
                  </h2>
                  <H2> {{ item.contact }}</H2>
                </div>
              </mat-card-header>
    
              <form [formGroup]="profileForm"  (ngSubmit)="onSubmit(profileForm.value)"  >
                <mat-card-content>
                  <div class="aboutself">
                    <div class="names">
                      <input
                        matInput
                        formControlName="firstName"
                        type="text"
                        required
                        name="firstName"
                        placeholder="Name"
                      />
                      <input
                        matInput
                        formControlName="LastName"
                        required
                        type="text"
                        name="LastName"
                        placeholder="Last Name"
                      />
                    </div>
                    <div class="emails">
                      <input
                        matInput
                        formControlName="Emails"
                        type="text"
                        required
                        name="Emails"
                        placeholder="Emails"
                      />
                      <input
                        matInput
                        formControlName="Company"
                        name="Company"
                        required
                        type="text"
                        placeholder="Company"
                      />
                    </div>
                  </div>
                  <div class="details">
                    <textarea
                      matInput
                      formControlName="request"
                      name="request"
                      placeholder="Your request"
                    ></textarea>
                  </div>
                </mat-card-content>
                <mat-card-footer>
                  <a
                    href="mailto:stantarif006@gmail.com
                   "
                    ><button mat-raised-button type="submit">
                      Send message
                    </button></a
                  >
                </mat-card-footer>
              </form>
            </mat-card>
          </section>
        </div>
      </section>
      <!-- eight-components-end -->
      <!-- Ninth-components -->
      <section>
        <div class="rs-blog">
          <div class="container">
            <div
              class="sec-title"
              data-aos="fade-left"
              data-aos-anchor="#example-anchor"
              data-aos-offset="500"
              data-aos-duration="500"
              *ngFor="let item of blogs"
            >
              <span class="sub-text">
                <img [src]="item.logoimg" alt="" /> {{ item.logoname }}
              </span>
              <h2 class="title">
                {{ item.paragraph }}
              </h2>
            </div>
            <div class="carousel-wrapper">
              <owl-carousel-o [options]="customOptionse">
                <ng-container>
                  <ng-template class="slide" carouselSlide>
                    <div class="card-outler">
                      <div class="card" *ngFor="let card of cards">
                        <div class="blog-item">
                          <div class="image-wrap">
                            <a href="#">
                              <img [src]="card.cardimg" alt="" />
                            </a>
                          </div>
                          <div class="blog-content">
                            <ul class="blog-meta">
                              <li class="date">
                                <mat-icon>today</mat-icon>
                                {{ card.date }}
                              </li>
                              <li class="admin">
                                <mat-icon>person_outline</mat-icon>
                                {{ card.tagname }}
                              </li>
                            </ul>
                            <h3 class="blog-title">
                              <a href="#">
                                {{ card.cardparagraph }}
                              </a>
                            </h3>
                            <div class="blog-button">
                              <a href="#"> {{ card.cardbutton }}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </section> -->
      <!-- Ninth-components-end -->
      <!-- 10-components -->
      <!-- <div class="section">
        <div class="rs-cta">
          <div class="container">
            <div class="call-action">
              <div
                class="sec-title"
                data-aos="fade-left"
                data-aos-anchor="#example-anchor"
                data-aos-offset="500"
                data-aos-duration="500"
                *ngFor="let item of action"
              >
                <span class="sub-text">
                  <img [src]="item.logoimg" alt="" /> {{ item.logoname }}
                </span>
                <h2 class="title">
                  {{ item.paragraph }}
                </h2>
                <div class="desc">
                  {{ item.content }}
                </div>
                <div class="btn-part">
                  <a href="#">
                    {{ item.btn }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- 10-components-end -->
      <!-- 11-components -->
      <!-- <section>
        <div class="rs-footer" *ngFor="let item of footer">
          <div
            class="footer-top"
            data-aos="fade-right"
            data-aos-anchor="#example-anchor"
            data-aos-offset="500"
            data-aos-duration="500"
          >
            <div class="container">
              <div class="row">
                <div class="colume-1">
                  <div class="footer-logo">
                    <a href="#">
                      <img [src]="item.logoimg" alt="" />
                    </a>
                  </div>
                  <div class="textwidget">
                    <p class="p1">
                      {{ item.content }}
                    </p>
                    <p class="p2">
                      <strong>{{ item.timing2 }}</strong>
                      {{ item.timing }}
                    </p>
                  </div>
                  <ul class="footer-social">
                    <li>
                      <a href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-pinterest-p"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="colume-2">
                  <h3 class="footer-title">
                    {{ item.contactinfo }}
                  </h3>
                  <ul class="address-widget">
                    <li>
                      <mat-icon> location_on</mat-icon>
                      <div class="desc">
                        {{ item.contactadd }}
                      </div>
                    </li>
                    <li>
                      <mat-icon> stay_current_portrait</mat-icon>
                      <div class="desc">
                        <a href="#">{{ item.contactnumber }}</a> <br />
                        <a href="#">{{ item.contactnumber2 }}</a>
                      </div>
                    </li>
                    <li>
                      <mat-icon>mail</mat-icon>
                      <div class="desc">
                        <a href="#">{{ item.contactmail }} </a>
                        <a href="#">{{ item.contactmail2 }}</a>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="colume-3">
                  <h3 class="footer-title"></h3>
                  <ul class="site-map">
                    <mat-tree [dataSource]="treeData">
                      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                        {{ node.name }}
                        <mat-tree-node
                          *ngFor="let child of node.children"
                        ></mat-tree-node>
                      </mat-tree-node>
                    </mat-tree>
                  </ul>
                </div>
                <div class="colume-4">
                  <h3 class="footer-title">
                    {{ item.newsletter }}
                  </h3>
                  <p class="widget-desc">
                    {{ item.newsletter2 }}
                  </p>
                  <p>
                    <input
                      class="input"
                      placeholder="YOUR EMAIL ADDRESS"
                      type="text"
                    />
                    <input class="submit" type="submit" />
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="footer-bottom"
            data-aos="fade-left"
            data-aos-anchor="#example-anchor"
            data-aos-offset="500"
            data-aos-duration="500"
          >
            <div class="container">
              <div class="row">
                <div class="raw1">
                  <div class="copyright">
                    <p>
                      {{ item.right }}
                      <a href="#">Technolgy</a>
                    </p>
                  </div>
                </div>
                <div class="raw2">
                  <ul class="copy-right-menu">
                    <li>{{ item.li1 }}</li>
                    <li>{{ item.li2 }}</li>
                    <li>{{ item.li3 }}</li>
                    <li>{{ item.li4 }}</li>
                    <li>{{ item.li5 }}</li>
                    <li>{{ item.li6 }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- 11-components -->
    <!-- </div>
  </div> -->

<app-about-us></app-about-us>

<div class="scrollUp" (click)="scrolltop()">
  <mat-icon>keyboard_arrow_up</mat-icon>
</div>
<div (click)="scrollToBottom()" class="top-bottom">
  <mat-icon>keyboard_arrow_up</mat-icon>
</div>
