<div class="app-wrapper">
  <mat-sidenav-container class="sidebar-container-wrapper">
    <mat-sidenav #sidenav>
      <nav mode="over">
        <a routerLink="home" routerLinkActive="active">Home</a>
        <a routerLink="about" routerLinkActive="active">About</a>
        <a routerLink="login" routerLinkActive="active">Login</a>
        <a routerLink="sign-up" routerLinkActive="active">Sign Up</a>
        <a routerLink="contact" routerLinkActive="active">Contact</a>
      </nav>

      <label>Mirza Demolition</label>
      <hr />
    </mat-sidenav>

    <mat-sidenav-content class="navbar-wrapper">
      <app-sticky-header>
        <mat-toolbar class="toolbar">
          <header>
            <nav class="nav-container">
              <div class="nav-option-wrapper">
                <div class="icon-wrapper">
                  <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
                </div>
                <div class="link-wrapper">
                  <a routerLink="home" routerLinkActive="active">Home</a>
                  <a routerLink="about" routerLinkActive="active">About</a>
                  <a routerLink="contact" routerLinkActive="active">Projects</a>
                  <a routerLink="contact" routerLinkActive="active">Contact</a>
                </div>
              </div>
              <div class="nav-option-wrapper">
                <div class="heading-wrapper">
                  <h2>Mirza Demolition</h2>
                </div>
              </div>
              <div class="nav-option-wrapper">
                <div class="link-wrapper">
                  <li>
                    <a routerLink="home" routerLinkActive="active">
                      <i class="fa fa-clone"></i> Services</a
                    >
                    <div class="sub-menu-1">
                      <ul>
                        <li>
                          <a routerLink="buildings">building demolition</a>
                        </li>
                        <li>
                          <a routerLink="highreach">HIGH REACH DEMOLITION</a>
                        </li>
                        <li><a routerLink="robotic">ROBOTIC demolition</a></li>
                        <li><a href="shead">shead demolition</a></li>
                        <li><a href="special">special demolition</a></li>
                        <li><a href="alltype">all-type demolition</a></li>
                        <li><a href="alltypeex">all-type excavator rate</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a routerLink="home" routerLinkActive="active">
                      <i class="fa-brands fa-buromobelexperte"></i> Experties</a
                    >
                    <div class="sub-menu-1">
                      <ul>
                        <li><a href="plant">plant demolition</a></li>
                        <li>
                          <a href="highrise">HIGH Rise building DEMOLITION</a>
                        </li>
                        <li><a href="bridge">bridge demolition</a></li>
                        <li><a href="bungalow">banglow demolition</a></li>
                        <li><a href="mass">mass excavation</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a routerLink="login" routerLinkActive="active">
                      <i class="fa fa-phone"></i> Contact Us</a
                    >
                  </li>
                </div>
              </div>
            </nav>
          </header>
        </mat-toolbar>
      </app-sticky-header>

      <section class="router-wrapper">
        <router-outlet></router-outlet>
      </section>

      <section></section>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
