<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Mirza Demolition</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
      integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body class="mat-typography">
    <app-root></app-root>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!-- <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_q4KeH0MSPB.json"  *ngIf="!loader" class="spinners" background="transparent"  speed="1"  style="width: 1060PX; height: 150px;"  loop  autoplay></lottie-player> -->
    <!-- <lottie-player src="https://assets4.lottiefiles.com/private_files/lf30_y9czxcb9.json" *ngIf="loader" class="spinner" background="#000000"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player> -->
    <!-- <lottie-player src="https://assets2.lottiefiles.com/private_files/lf30_6uhcq95s.json"  background="transparent" *ngIf="loader" class="spinner"  speed="1"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player> -->
    <!-- <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_5eofrmfd.json"  background="transparent" *ngIf="loader" class="spinner" speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player> -->
  </body>
</html>
