@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "~font-awesome/css/font-awesome.css";
html,
body {
  height: 100%;
  // background-color: #000000;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  a {
    text-decoration: none;
    color: white;
  }
}
.owl-carousel {
  .ng-tns-c1-3 {
    margin: 40px 10px !important;
  }
}
.owl-item {
  width: 390.5px;
  .circle-img {
    position: absolute !important;
    width: 34% !important;
    top: -10px;
    left: -8px;
    img {
      width: 44% !important;
    }
  }
}
carousel {
  height: 100vh !important ;
  z-index: auto !important;
}

.btn {
  a {
    position: relative;
    display: inline-block;
    color: #010d14;
    transition: all ease 0.3s;
    padding: 7px 15px 7px 15px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #ffb703;
    &:hover {
      background-color: #010d14;
      color: white;
    }
  }
}
.accordion {
  .card {
    mat-expansion-panel-header {
      height: 60px !important;
      font-size: 18px !important;
      font-weight: 500;
      background-color: #ffb703;
      color: #010d14 !important;
      mat-panel-title {
        color: black !important;
        span {
          margin-right: 5px;
        }
      }
    }
    mat-expansion-panel {
      border-radius: 0 !important;
      margin: 0px 0px 20px 0px !important;
      .mat-expansion-panel-content {
        .mat-expansion-panel-body {
          background-color: #f1f1f1 !important;
          color: #333333 !important;
          font-size: 16px;
          // width: 100%;
          padding: 30px 30px 38px 30px !important;
        }
      }
    }
  }
}
.containers {
  display: block !important;
  max-width: 1200px !important;
  width: 100%;
  margin: 0 auto;
  .partner-content-widgets {
    border-radius: 5px 5px 5px 5px;
    background-color: #ffffff;
    padding: 40px 0px 40px 0px;
    .owl-stage {
      transform: translate3d(-2010px, 0px, 0px) !important;
      transition: all 0.8s ease 0s !important;
      width: 3819px !important;
    }
    .owl-item {
      width: 136px !important;
      .img-wrappers {
        margin-right: 50px;
        .logo-img {
          .main {
            display: block;
            width: 100%;
            margin-right: 30px;
            text-align: center;
          }
          a {
            .hover {
              display: block;
              position: absolute;
              transition: all 0.3s ease-in-out;
              z-index: 1;
              top: 0;
              left: 0;
              visibility: hidden;
              transform: translateY(-100%);
            }
            .hover &:hover {
              display: block;
              position: relative;
              visibility: inherit;
              transform: inherit;
            }
          }
        }
      }
    }
  }
}

.rs-blog {
  .carousel-wrapper {
    width: 100% !important;
    owl-stage {
      .owl-stage {
        transform: none !important;
        .owl-item {
          user-select: none;
          width: 372px !important;
        }
      }
    }
  }
}

.rs-footer {
  a,
  mat-icon,
  i,
  li {
    &:hover {
      color: rgb(255, 255, 0) !important;
    }
  }
}
.spinner {
  position: fixed;
  animation: linear infinite;
  animation-duration: 4s;
  top: 30%;
  left: 38%;
  transform: translate(-50% -50%);
  z-index: 0;
}
.spinners {
  position: absolute;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 4s;
  left: -30%;
  top: 50%;
  z-index: 0;
}
@keyframes run {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(100%);
  }
}
.img-wrapper-carousel {
  width: 13%;
  img {
    width: 100%;
  }
}
