/* You can add global styles to this file, and also import other style files */
// @use '@angular/material' as mat;
// @use 'assets/styles/material/_buttom-base-theme' as button;
// @import "../Theme.scss";

@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
.owl-carousel {
  .ng-tns-c1-3 {
    margin: 40px 10px !important;
  }
}
.owl-item {
  width: 390.5px !important;
  .circle-img {
    position: absolute !important;
    width: 34% !important;
    top: -10px;
    left: -8px;
    img {
      width: 44% !important;
    }
  }
}

app-sticky-header {
  z-index: 1000;
  box-shadow: 2px 0 0 2px rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
