<div class="benefits-wrapper">
  <div class="separation">
    <div class="video-wrapper" data-aos="zoom-out-right">
      <button class="popup-border">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
    <div class="video-content-wrapper">
      <div
        data-aos="fade-left"
        data-aos-anchor="#example-anchor"
        data-aos-offset="500"
        data-aos-duration="500"
      >
        <div class="text-wrapper">
          <span class="sub-text">
            <span>
              <img
                src="https://devsdesign.net/products/html/konstruk/assets/images/shape-1.png"
                alt=""
              />
              WHY CHOOSE US
            </span>
          </span>
          <h2 class="title">
            Why you should choose our mirza demolitions platform.
          </h2>
          <p class="desc">
            When it comes to demolition services, our Mirza Demolitions platform
            stands out as the optimal choice for several compelling reasons.
            <br />
            <br />
            First and foremost, we possess a wealth of experience and expertise
            in the demolition industry. Our skilled professionals have
            successfully completed numerous projects, earning a solid reputation
            for delivering high-quality results.
            <br />
            <br />
            We prioritize safety above all else, implementing stringent safety
            protocols and employing highly trained personnel. With us, you can
            have peace of mind knowing that every demolition project is executed
            with utmost care and adherence to industry regulations.
          </p>
        </div>

        <div class="ability-wrapper">
          <div class="row" *ngFor="let item of service">
            <div class="serial-number">
              {{ item.serialnumber }}
            </div>
            <div class="services-title">
              <h4 class="title">
                {{ item.servicestext }}
              </h4>
            </div>
          </div>
        </div>

        <div class="working-skill-part">
          <div class="rows">
            <div class="title-wrapper">
              <div class="title-inner">
                <h4 class="title">Working skill</h4>
              </div>
              <div class="title-inner">
                <h4 class="title">Client rating</h4>
              </div>
            </div>
            <div class="rating-wrapper">
              <div class="skill-bar-wrapper">
                <div class="skill-bar">
                  <span class="skill-bar-percent"> 95% </span>
                </div>
              </div>
              <ul class="icon-list-item">
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
              </ul>
            </div>
          </div>
          <p class="view-result">
            5.00 Average Based On 50 Rating -
            <a class="viewlink"><span>More information</span></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
