.benefits-wrapper {
  background-image: url("../../../assets/images/white-abstract-background-design.avif");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
  .separation {
    display: flex;
    gap: 80px;
    .video-wrapper {
      flex: 1;
      background-image: url("../../../assets/images/image-2.jpg");
      background-size: cover;
      clip-path: polygon(9% 0, 100% 0, 100% 89%, 91% 100%, 0 100%, 0 11%);
      position: relative;
      .popup-border {
        position: absolute;
        transform: translateX(0%) translateY(-50%);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        background-color: #ffb703;
        border: none;
        .mat-icon {
          transition: 0.3s ease all;
          font-size: 50px;
          color: #010d14;
          position: relative;
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;
          justify-content: center;
        }
      }
    }
    .video-content-wrapper {
      flex: 1;
      padding-right: 20px;
      .text-wrapper {
        margin: 20px 0;
        .title {
          font-size: 42px;
          font-weight: 700;
          line-height: 40px;
          margin: 0;
          padding-top: 10px;
          padding-bottom: 20px;
          font-family: Playfair Display;
          transition: 0.7s;
          &:hover {
            opacity: 1;
            color: #ffb703f0;
          }
        }
        .sub-text {
          font-size: 16px;
          font-weight: 500;
          margin: 0 0 10px;
          display: block;
          span {
            img {
              margin-right: 7px;
              top: 2px;
              position: relative;
            }
          }
        }
        .desc {
          font-size: 16px;
          line-height: 24px;
          margin: 0;
        }
      }
      .ability-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        gap: 25px;
        .row {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          .serial-number {
            background-color: #ffb703;
            font-size: 20px;
            font-weight: 700;
            line-height: 2em;
            text-align: center;
            width: 40px;
            border-radius: 30px;
          }
          .services-title {
            .title {
              font-size: 19px;
              font-family: "Roboto", Sans-serif;
            }
          }
        }
      }
      .working-skill-part {
        margin-top: 30px;
        .rows {
          display: flex;
          gap: 13px;
          .title-wrapper {
            display: flex;
            flex-direction: column;
            .title-inner {
              .title {
                font-size: 18px;
                font-weight: 500;
                font-family: "Roboto", Sans-serif;
                color: #010d14;
                margin: 0px 0px 0px 0px;
                line-height: 24px;
              }
            }
          }
          .rating-wrapper {
            flex: 1;
            .skill-bar-wrapper {
              background-color: #e8eaee;
              margin: 10px 5px;
              position: relative;

              .skill-bar {
                height: 7px;
                background-color: #ffb703;
                border-radius: 3px;
                width: 80%;
                .skill-bar-percent {
                  line-height: 30px;
                  position: absolute;
                  right: 40px;
                  top: -38px;
                }
              }
            }
            .icon-list-item {
              list-style: outside none none;
              margin: 0;
              padding: 0;
              display: flex;
              gap: 5px;
              li {
                mat-icon {
                  color: #ffb703;
                }
              }
            }
          }
        }
        .view-result {
          padding-top: 15px;
          font-size: 16px;
          .viewlink {
            color: black;
            font-weight: 600;
            text-decoration: underline;
            &:hover {
              color: #ffb703;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .benefits-wrapper {
    .separation {
      display: block;
      .video-content-wrapper {
        padding-right: 30px;
        padding-left: 30px;
      }
    }
  }
}
