.rs-choose {
  box-sizing: border-box;
  background-color: white !important;
  .row {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    width: 100%;
    .video-wrapper {
      background-image: url("../../../assets/images/image-2.jpg");
      background-position: -50px -50px;
      left: -134px;
      flex: 1;
      position: relative;
      background-repeat: no-repeat;
      clip-path: polygon(21% 0, 100% 0, 100% 87%, 90% 100%, 0 100%, 0 29%);
      background-size: cover;
      object-fit: cover;
      .popup-border {
        position: absolute;
        transform: translateX(0%) translateY(-50%);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        background-color: #ffb703;
        .mat-icon {
          transition: 0.3s ease all;
          font-size: 50px;
          color: #010d14;
          position: relative;
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;
          justify-content: center;
        }
      }
    }
    .video-content-wrapper {
      width: 50%;
      .widget-wrap-content {
        margin: 120px 0px 115px 0px;
        .sec-title {
          width: 100%;
          flex: 0 0 auto;
          color: black;
          list-style: none;
          margin-top: 1.5rem;
          .title {
            font-size: 42px;
            font-weight: 700;
            line-height: 53px;
            color: #010d14;
            margin: 0;
            padding-bottom: 20px;
            font-family: Playfair Display;
            opacity: 0.8;
            transition: 0.7s;
            &:hover {
              opacity: 1;
              color: #ffb703f0;
            }
          }
          .sub-text {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.3;
            color: #010d14;
            text-transform: uppercase;
            font-family: Roboto;
            margin: 0 0 10px;
            display: block;
            span {
              img {
                margin-right: 7px;
                top: 2px;
                position: relative;
              }
            }
          }
          .desc {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: #333333;
            margin: 0;
            display: grid;
            grid-template-columns: 3fr 1fr;
          }
          .row-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .row {
              margin-bottom: 0;
              .mini-card1 {
                display: flex;
                .service-item {
                  display: flex;
                  position: relative;
                  align-items: center;
                  .serial-number {
                    background-color: #ffb703;
                    position: absolute;
                    left: 0px !important;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 2em;
                    text-align: center;
                    padding: 0px 0px 0px 0px;
                    margin: 0px 0px 0px 0px;
                    width: 40px;
                    height: 40px;
                    border-radius: 30px;
                  }
                  .services-textes {
                    padding: 14px 0px 0px 55px !important;
                    display: flex !important;
                    .services-title {
                      display: flex !important;
                      .title {
                        font-size: 19px !important;
                        width: 100% !important;
                        font-family: "Roboto", Sans-serif !important;
                        font-weight: 800 !important;
                      }
                    }
                  }
                }
              }
            }
          }
          .working-skill-part {
            .rows {
              display: flex;
              .title-wrapper {
                display: flex;
                flex-direction: column;
                width: 33.333%;
                .title-inner {
                  .title {
                    font-size: 18px;
                    font-weight: 500;
                    font-family: "Roboto", Sans-serif;
                    color: #010d14;
                    margin: 0px 0px 0px 0px;
                    line-height: 24px;
                  }
                }
              }
              .ratting-wrapper {
                flex: 0 0 auto;
                width: 52.666667%;
                .rs-skillbar {
                  background-color: #e8eaee;
                  height: 7px;
                  line-height: 7px;
                  margin: 10px 5px 24px;
                  border-radius: 3px 3px 3px 3px;
                  overflow: visible;
                  position: relative;
                  .skillbar {
                    height: 7px;
                    line-height: 7px;
                    background-color: transparent;
                    border-radius: 3px 3px 3px 3px;
                    margin-bottom: 0;
                    overflow: visible !important;
                    width: 80%;
                    transition: 2s ease;
                    &:hover {
                      width: 95% !important;
                      background-color: #ffb703;
                    }
                    .skill-bar-percent {
                      height: 30px;
                      line-height: 30px;
                      position: absolute;
                      right: 40px;
                      top: -38px;
                      font-size: 16px;
                      font-weight: 400;
                      color: #010d14;
                    }
                  }
                }
                .icon-list-item {
                  list-style: outside none none;
                  margin: 0;
                  padding: 0;
                  li {
                    display: inline-block;
                    margin-right: 4px;
                    mat-icon {
                      color: #ffb703;
                    }
                  }
                }
              }
            }
            .view-result {
              padding-top: 15px;
              font-size: 16px;
              .viewlink {
                color: black !important;
                font-weight: 600 !important;
                text-decoration: underline !important;
                &:hover {
                  color: #ffb703 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
