<div class="about-us-wrapper">
  <div class="container">
    <div
      class="image-wrapper"
      data-aos="fade-right"
      data-aos-anchor="#example-anchor"
      data-aos-offset="500"
      data-aos-duration="500"
    >
      <img src="../../../assets/images/image-4.jpg" alt="" />
    </div>
    <div
      class="detail-wrapper"
      data-aos="fade-left"
      data-aos-anchor="#example-anchor"
      data-aos-offset="500"
      data-aos-duration="500"
    >
      <div class="content-wrapper">
        <div class="sub-text">
          <img src="../../../assets/images/dote-image.png" alt="Images" />
          Who We Are
        </div>
        <h2 class="title">Demolition Solutions Provider</h2>
        <p>
          All types of RCC Demolition & dismantling Company. We provide the best
          service and the best safety over in our demolition work.
        </p>
        <div class="middle-raw">
          <div class="mini-img">
            <img src="https://www.laborfinders.com/media/ufjptgn2/testfile.jpg?width=738&height=440&rnd=133152766609970000&format=webp&quality=80" />
          </div>
          <div class="ul-wrapper">
            <div class="cheak-list">
              <li class="list-item">
                <span class="icon-list-icon">
                  <mat-icon>check_circle</mat-icon>
                </span>
                <span class="list-text">High Rise Demolition Service</span>
              </li>
              <li class="list-item">
                <span class="icon-list-icon">
                  <mat-icon>check_circle</mat-icon>
                </span>
                <span class="list-text">Earth Moving Demolition Service</span>
              </li>
              <li class="list-item">
                <span class="icon-list-icon">
                  <mat-icon>check_circle</mat-icon>
                </span>
                <span class="list-text">Fabrication Work Service</span>
              </li>
            </div>
          </div>
        </div>
        <div class="button-wrapper">
          <app-md-button text="KNOW MORE" (buttonEmitter)="handleClickedEvent()"></app-md-button>
        </div>
      </div>
    </div>
  </div>
</div>
