<div class="about-us-wrapper">
  <div class="container">
    <div
      class="image-wrapper"
      data-aos="fade-right"
      data-aos-anchor="#example-anchor"
      data-aos-offset="500"
      data-aos-duration="500"
    >
      <img src="../../../assets/images/image-4.jpg" alt="" />
    </div>
    <div
      class="detail-wrapper"
      data-aos="fade-left"
      data-aos-anchor="#example-anchor"
      data-aos-offset="500"
      data-aos-duration="500"
    >
      <div class="section" *ngFor="let category of categories">
        <div class="sub-text">
          <img [src]="category.squareDotes" alt="Images" />
          {{ category.whoWeAre }}
        </div>
        <h2 class="title">{{ category.title }}</h2>
        <p>
          {{ category.description }}
        </p>
        <div class="middle-raw">
          <div class="mini-img">
            <img [src]="category.image" />
          </div>
          <div class="ul-wrapper">
            <div class="cheak-list">
              <li class="list-item">
                <span class="icon-list-icon">
                  <mat-icon>check_circle</mat-icon>
                </span>
                <span class="list-text">category.listOptionOne</span>
              </li>
              <li class="list-item">
                <span class="icon-list-icon">
                  <mat-icon>check_circle</mat-icon>
                </span>
                <span class="list-text">category.listOptionTwo</span>
              </li>
              <li class="list-item">
                <span class="icon-list-icon">
                  <mat-icon>check_circle</mat-icon>
                </span>
                <span class="list-text">category.listOptionThree</span>
              </li>
            </div>
          </div>
        </div>
        <div class="footer-wrapper">
          <div class="button-wrapper">
            <a>KNOW MORE</a>
          </div>
          <!-- <div class="sign-wrapper">
            <img
              src="https://devsdesign.net/products/html/konstruk/assets/images/about/style1/signeture1.png"
              alt=""
            />
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
