.about-us-wrapper {
  background-image: url("../../../assets/images/white-abstract-background-design.avif");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0px;

  .container {
    display: flex;
    justify-content: center;
    gap: 80px;

    .image-wrapper {
      flex: 1;
      transition: 1s ease-in-out;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);
      }
    }

    .detail-wrapper {
      flex: 1;
      .content-wrapper {
        .title {
          font-size: 42px;
          font-weight: 700;
          line-height: 53px;
          color: #010d14;
          margin: 0;
          padding-bottom: 20px;
          font-family: Playfair Display;
          opacity: 0.8;
          transition: 0.7s;
          &:hover {
            opacity: 1;
            color: #ffb703f0;
          }
        }
        .sub-text {
          font-size: 16px;
          color: #010d14;
          text-transform: uppercase;
          font-family: Roboto;
          margin: 0 0 10px;
          img {
            position: relative;
            top: 2px;
            margin-right: 7px;
          }
        }
        p {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: #333333;
          margin: 0;
          padding-bottom: 37px;
          width: 500px;
        }
        .middle-raw {
          display: flex;
          align-items: center;
          .mini-img {
            width: 29.333333%;
            img {
              max-width: 100%;
            }
          }
          .cheak-list {
            margin-left: 10px;
            .list-item {
              display: flex;
              align-items: center;
              padding-bottom: calc(6px);
              span {
                display: flex;
                align-items: center;
                margin-right: 5px;
                mat-icon {
                  color: #ffb703;
                  font-size: 20px !important;
                }
              }
            }
          }
        }
        .footer-wrapper {
          margin-top: 47px;
          display: flex;
          align-items: center;
          .button-wrapper {
            width: 50%;
            a {
              background: #ffb703;
              color: #010d14;
              font-weight: 500;
              text-transform: uppercase;
              padding: 16px 34px 16px 34px;
            }
          }
        }
      }
    }
  }
}
