<section>
  <div class="contact-wrapper">
    <section>
      <div class="circle"></div>
      <div class="circle2"></div>
      <mat-card>
        <mat-card-header>
          <div class="heading-wrapper">
            <h2 class="contact-heading">Contact Us</h2>
            <h2 class="description-heading">
              Describe your product idea and we will start working on it within
              24 hours.
            </h2>
          </div>
        </mat-card-header>
        <form
          [formGroup]="profileForm"
          (ngSubmit)="onSubmit(profileForm.value)"
          class="contact-form-wrapper"
        >
          <mat-card-content>
            <div class="about-self">
              <div class="names">
                <input
                  matInput
                  formControlName="firstName"
                  type="text"
                  required
                  placeholder="First Name"
                />
                <input
                  matInput
                  formControlName="lastName"
                  required
                  type="text"
                  placeholder="Last Name"
                />
              </div>
              <div class="emails">
                <input
                  matInput
                  formControlName="emails"
                  type="text"
                  required
                  placeholder="Email"
                />
                <input
                  matInput
                  formControlName="company"
                  required
                  type="text"
                  placeholder="Company"
                />
              </div>
            </div>
            <div class="details">
              <textarea
                matInput
                formControlName="request"
                placeholder="Your request"
              ></textarea>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <!-- <a href="mailto:stantarif006@gmail.com"> -->
            <button mat-raised-button type="submit">Send message</button>
            <!-- </a> -->
          </mat-card-footer>
        </form>
      </mat-card>
    </section>
  </div>
</section>
