.contact-wrapper {
  background-color: white !important;
  color: black !important;
  padding: 50px 0px;
  section {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .circle {
    position: absolute;
    z-index: 1;
    top: -40px;
    left: 299px;
    border-radius: 50%;
    width: 83px;
    height: 83px;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ff3232),
      color-stop(89%, #fec943),
      to(#fedc45)
    );
    background-image: linear-gradient(180deg, #ff3232, #fec943 89%, #fedc45);
    content: "";
  }
  .circle2 {
    position: absolute;
    z-index: 1;
    bottom: -70px;
    right: 0px;
    border-radius: 50%;
    width: 295px;
    height: 295px;
    background-image: linear-gradient(97deg, #ff3232, #fec943 74%, #fedc45);
    content: "";
  }
  mat-card {
    width: 80%;
    padding: 20px;
    z-index: 2;
    box-shadow: 0 0 15px 0 rgba(112, 4, 4, 0.15);
    -webkit-box-shadow: 0 0 15px 0 rgba(112, 4, 4, 0.15);
    mat-card-header {
      margin: 10px 0px;
      .heading-wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .contact-heading {
          font-size: 40px;
          font-weight: 700;
        }
        .description-heading {
          font-size: 19px;
        }
      }
    }
    .contact-form-wrapper {
      display: flex;
      flex-direction: column;
      mat-card-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin: 10px 0px;
        @media only screen and (max-width: 926px) {
          display: block;
        }
        .about-self {
          flex: 1 0 auto;
          .names {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 15px;
            gap: 10px;
            input {
              flex: 1 1 auto;
              outline: none;
              border: none;
              padding: 6px 0;
              font-family: Catamaran, sans-serif;
              border-bottom: 1px solid #d7d7d7;
              font-size: 18px;
              height: 50px;
            }
          }
          .emails {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            width: 100%;
            margin-bottom: 15px;
            input {
              width: 100%;
              height: 50px;
              padding: 6px 0;
              font-family: Catamaran, sans-serif;
              font-size: 18px;
              color: #33484b;
              border: none;
              outline: none;
              border-bottom: 1px solid #d7d7d7;
            }
          }
        }
        .details {
          flex: 1 0 auto;
          height: calc(100% - 40px);
          @media only screen and (max-width: 926px) {
            margin-top: 25px;
            height: auto;
          }
          textarea {
            line-height: 27px;
            resize: none;
            border: none;
            height: 100%;
            width: 100%;
            outline: none;
            font-size: 18px;
            border-bottom: 1px solid #25282836;
          }
        }
      }
    }
    mat-card-footer {
      display: flex;
      justify-content: center;
      button {
        border-radius: 23px;
        border: 2px solid #fea33f;
        font-family: Catamaran, sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
        color: #33484b;
        background: white;
        text-transform: none;
        margin: 27px auto 0;
        padding: 0 19px;
        font-weight: 400;
        height: 50px;
        &:hover {
          background-color: #fea33f;
          color: white;
        }
      }
    }
  }
}
